body {

    background-image:  url("Img/test.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-description {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 18px;
    text-align: center;
}

.business-card {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff4081;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #ff6699;
}
